.page-header a h1 {
  color: #555;
}

.navbar-default .navbar-nav > a.active,
.navbar-default .navbar-nav > a.active > a:hover,
.navbar-default .navbar-nav > a.active > a:focus, {
  color: #555;
  background-color: #e7e7e7;
}

